html {
    font-size: 62.5%;
    /* 1rem = 10px */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* sidebar */

.sidebar {
    height: 100%;
    width: 8rem;
    position: fixed;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 0;
    padding: 0;
    cursor: pointer;
}

.line {
    width: 2.5rem;
    height: .2rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1,
.line-3 {
    width: 1.8rem;
    transition: width 0.3s;
}

.menu-icon:hover .line {
    width: 2.5rem;
}

.social-icon-list {
    list-style: none;
    height: 45%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link {
    font-size: 2rem;
    color: #777;
    transition: color .3s;
}

.social-link:hover {
    color: #deaa86;
}

.year {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: #555;
    /* transition: color .8s; */
    transition: transform .8s ease-in-out, color .8s;
}

#nav-drawer:checked~.sidebar .year {
    color: transparent;
    transform: translateX(10rem);
}

/* navigation drawer */

.navigation {
    position: fixed;
    width: 40rem;
    height: 100%;
    left: -32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background */
    background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, 0.8)), url(image/palace-7701252_1920.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
    transition: left .8s;
}

.navigation-headline {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #deaa86;
    text-align: center;
}

.navigation-search {
    position: relative;
}

.navigation-search-input {
    width: 30rem;
    height: 3rem;
    border-radius: 10rem;
    padding: 1rem 2rem;
    outline: none;
    background-color: rgba(0, 0, 0, .3);
    color: #deaa86;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: .1rem;
    border: .1rem solid #555;
    transition: background-color .3s;
}

.navigation-search-input:focus {
    background-color: rgba(0, 0, 0, .1);
    outline: 1px solid #deaa86;
}

.navigation-search-btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    cursor: pointer;
}

.navigation-search-input:focus+.navigation-search-btn {
    color: #deaa86;
}

/* navigation items */

.navigation-item-list {
    height: 40%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation-link {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: .1rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s;
}

.navigation-item {
    position: relative;
}

.navigation-link::before {
    content: "";
    width: 0rem;
    height: .2rem;
    background-color: #deaa86;
    position: absolute;
    top: 1.4rem;
    left: -5rem;
    transition: width .5s ease;
}

.navigation-link::after {
    content: "";
    width: 0rem;
    height: .2rem;
    background-color: #deaa86;
    position: absolute;
    top: 1.4rem;
    right: -5rem;
    transition: width .5s ease;
}

.navigation-link:hover {
    color: #deaa86;

}

.navigation-link:hover::before,
.navigation-link:hover::after {
    width: 3rem;
}

/* navigation drawer logic  */

#nav-drawer:checked~.navigation {
    left: 8rem;
}

#nav-drawer:checked+.sidebar .line-1 {
    transform: translate(0, .8rem) rotate(45deg);

}

#nav-drawer:checked+.sidebar .line-2 {
    width: 0;
}

#nav-drawer:checked+.sidebar .line-3 {
    transform: translate(0, -0.8rem) rotate(-45deg);
}

.copyright {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

/* header */

.header {
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,.3), rgba(0,0,0,.8)), url(image/palace-7701252_1920.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 2rem;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brand-logo {
    width: 3rem;
}

.brand-logo img {
    width: 100%;
}

.brand-title {
    font-size: 2rem;
    color: #deaa86;
    font-family: 'Josefin Sans', sans-serif;
}

.banner {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.banner-headline {
    font-size: 7rem;
    background: linear-gradient(to right, gold, goldenrod);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: anim 3s;
}

.banner-headline:hover {
    background: linear-gradient(to left, gold, goldenrod);
    background-clip: text;
    -webkit-background-clip: text;

}

.banner-paragraph {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-top: 0;
    margin-bottom: 8rem;
    animation: anim 2.5s .5s backwards;
}

.banner-btn {
    font-size: 2rem;
    letter-spacing: .1rem;
    padding: 1.6rem 3.2rem;
    border-radius: 3rem;
    background: linear-gradient(to right, gold, goldenrod);
    cursor: pointer;
    animation: anim 2s 1s backwards;
}

.banner-btn:hover {
    background: linear-gradient(to left, gold, goldenrod);
}

.banner-btn:active {
    transform: translateY(.2rem);
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



section {
    margin-left: 8rem;
    padding-top: 2rem;
}


/* about us start */
.about-us {
    display: flex;
    padding-top: 0;
}

.about-us-content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 12rem 14rem 12rem;
    box-sizing: border-box;
    background: linear-gradient(to right, #fff, #fffaaa);    
}

.common-heading {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
}

.small-underline {
    width: 6rem;
    height: .2rem;
    background-color: #deaa86;
    margin: 0 auto 1rem auto;
}

.large-underline {
    width: 17rem;
    height: .2rem;
    background-color: #deaa86;
    margin: 0 auto 1rem auto;    
}

.common-subheading {
    font-size: 2.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #deaa86;
}

.about-us-paragraph {
    font-size: 1.8rem;
    line-height: 4rem;
}

.about-us-btn {
    margin-top: 2.4rem;
    padding: 1.4rem 1.8rem;
    border-radius: 10rem;
    border: 1px solid #deaa86;
    background: linear-gradient(to left, #fffaaa, #deaa86);
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.6rem;
}

.about-us-btn:hover {
    background: linear-gradient(to right, #fffaaa, #deaa86);
}

.about-us-images {
    flex: 1 1;
    position: relative;
    background: linear-gradient(to left, #fff, #fffaaa);
    z-index: -30;
}

.about-us-images .image {
    width: 50%;
    position: absolute;    
    top: 50%;
    left: 50%;
    box-shadow: 0rem 3rem 6rem rgba(0,0,0,.4);
    border: .2rem solid #fffaaa;
}

.about-us-images .image-1 {
    transform: translate(-50%, -50%);
    z-index: 20;
}

.about-us-images .image-2 {
    transform: translate(-10%, -60%);
    z-index: -10;
}

.about-us-images .image-3 {
    transform: translate(-20%, -10%);
}

.about-us-images .image-4 {
    transform: translate(-60%, -20%);
    z-index: -20;
}


/* about us end */

/* rooms start */

.rooms {
    padding-bottom: 4rem;
}

.common-header {
    text-align: center;
    margin-bottom: 5rem;
}

.rooms-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}

.card {
    width: 60rem;
    background: linear-gradient(to right, #555, #333);
    margin: 2rem 0;
    border-radius: 1.6rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, .6);
}

.card img {
    width: 100%;
    border-radius: 1.6rem;
}

.card-content {
    padding: 1.6rem 2rem 2.4rem 2rem;
    color: #ddd;

}

.card-heading {
    display: inline;
    font-size: 3.2rem;
    margin-top: 1rem;
    background: linear-gradient(to left, #fffaaa, #deaa86);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}

.card-paragraph {
    font-size: 1.8rem;
}

.card-price {
    font-size: 4.8rem;
    text-align: right;
    margin: 0;
}

.room-btn {
    margin-top: 2.4rem;
    padding: 1.4rem 1.8rem;
    border-radius: 10rem;
    border: 1px solid #deaa86;
    background: linear-gradient(to left, #fffaaa, #deaa86);
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.6rem;
}

.room-btn:hover {
    background: linear-gradient(to right, #fffaaa, #deaa86);
}

/* rooms end */

.check-all-btn-wrapper {
    margin: 5rem;
    text-align: center;
}

.check-all-btn {
    padding: 1.6rem;
    background: #fffaaa;
    border: 1px solid #222;
    border-radius: .4rem;
    color: #222;
    font-size: 2.4rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s;
}

.check-all-btn:hover {
    background-color: goldenrod;
    color: #333;
}

/* rooms end */

/* compliments start */
.compliment {
    background-color: #222;
    padding-bottom: 4rem;
}

.compliment .common-heading {
    color: #fff;
}

.compliment-card-wrapper {
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
}

.compliment-card {
    width: 35%;
    background-color: #fff;
    display: flex;
    padding: 2rem;
    border-radius: .8rem;
}

.compliment-card .image-wrapper {
    width: 50rem;
    
}

.compliment-card .image-wrapper img {
    width: 100%;
    margin-left: -20%;
    border-radius: .8rem;
}

.card-info .card-name {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.card-info .card-title {
    font-size: 2rem;
    color: rgb(160, 30, 60);
    margin-bottom: 1rem;
}

.card-info .card-body {
    font-size: 1.6rem;
}

/* compliments end */

