html {
    font-size: 62.5%;
    /* 1rem = 10px */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* sidebar */

.sidebar {
    height: 100%;
    width: 8rem;
    position: fixed;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 0;
    padding: 0;
    cursor: pointer;
}

.line {
    width: 2.5rem;
    height: .2rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1,
.line-3 {
    width: 1.8rem;
    transition: width 0.3s;
}

.menu-icon:hover .line {
    width: 2.5rem;
}

.social-icon-list {
    list-style: none;
    height: 45%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link {
    font-size: 2rem;
    color: #777;
    transition: color .3s;
}

.social-link:hover {
    color: #deaa86;
}

.year {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: #555;
    /* transition: color .8s; */
    transition: transform .8s ease-in-out, color .8s;
}

#nav-drawer:checked~.sidebar .year {
    color: transparent;
    transform: translateX(10rem);
}

/* navigation drawer */

.navigation {
    position: fixed;
    width: 40rem;
    height: 100%;
    left: -32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background */
    background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, 0.8)), url(image/palace-7701252_1920.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
    transition: left .8s;
}

.navigation-headline {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #deaa86;
    text-align: center;
}

.navigation-search {
    position: relative;
}

.navigation-search-input {
    width: 30rem;
    height: 3rem;
    border-radius: 10rem;
    padding: 1rem 2rem;
    outline: none;
    background-color: rgba(0, 0, 0, .3);
    color: #deaa86;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: .1rem;
    border: .1rem solid #555;
    transition: background-color .3s;
}

.navigation-search-input:focus {
    background-color: rgba(0, 0, 0, .1);
    outline: 1px solid #deaa86;
}

.navigation-search-btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    cursor: pointer;
}

.navigation-search-input:focus+.navigation-search-btn {
    color: #deaa86;
}

/* navigation items */

.navigation-item-list {
    height: 40%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation-link {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: .1rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s;
}

.navigation-item {
    position: relative;
}

.navigation-link::before {
    content: "";
    width: 0rem;
    height: .2rem;
    background-color: #deaa86;
    position: absolute;
    top: 1.4rem;
    left: -5rem;
    transition: width .5s ease;
}

.navigation-link::after {
    content: "";
    width: 0rem;
    height: .2rem;
    background-color: #deaa86;
    position: absolute;
    top: 1.4rem;
    right: -5rem;
    transition: width .5s ease;
}

.navigation-link:hover {
    color: #deaa86;

}

.navigation-link:hover::before,
.navigation-link:hover::after {
    width: 3rem;
}

/* navigation drawer logic  */

#nav-drawer:checked~.navigation {
    left: 8rem;
}

#nav-drawer:checked+.sidebar .line-1 {
    transform: translate(0, .8rem) rotate(45deg);

}

#nav-drawer:checked+.sidebar .line-2 {
    width: 0;
}

#nav-drawer:checked+.sidebar .line-3 {
    transform: translate(0, -0.8rem) rotate(-45deg);
}

.copyright {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}